<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('./layout/top') %>
</head>

<body>


    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Wallet Page</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart_totals" style="border: 2px;">
                        <h2 id="mnemonic_id"><i class="fa fa-reorder"></i> 니모닉 생성</h2>
                        <table cellspacing="0">
                            <table cellspacing="0">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th style="width:87%">
                                            <input type="text" class="form-control is-valid" id="mnemonic_text"
                                                placeholder="Enter tokens..." min=0 readonly>
                                        </th>
                                        <td> <button class="add_to_button" id="create_mnemonic_button" href="#"
                                                rel="nofollow">생성하기</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <div class="cart_totals">
                        <h2><i class="fa fa-reorder"></i> 지갑 생성</h2>
                        <table cellspacing="0">
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th style="width:87%">
                                        <input type="password" class="form-control is-valid" id="password"
                                            placeholder="비밀번호를 입력해주세요..." min=0>
                                    </th>
                                    <td> <button class="add_to_button" id="create_wallet_button" href="#"
                                            rel="nofollow">생성하기</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>

                    <div class="cart_totals" id="account_list">
                        <h2><i class="fa fa-reorder"></i> 보유 계정 목록</h2>
                        <table cellspacing="0" class="shop_table cart">
                            <thead>
                                <tr>
                                    <th class="product-name">No</th>
                                    <th class="product-address">Address</th>
                                    <th class="product-ether">Ether</th>
                                    <th class="product-remove">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="account_list_content">
                            </tbody>
                            <tr class="cart_item" style="display: none;" id="account_detail_content">


                                <td class="product-name" style="width: 5%;">
                                </td>
                                <td class="product-address" style="width: 30%;">
                                    <span class="amount"></span>
                                </td>
                                <td class="product-ether" style="width: 30%;">
                                    <span class="ether"></span>
                                </td>
                                <td class="product-remove" style="width: 5%;">
                                    <a title="Remove this item" class="remove_account" href="javascript:;" data-id=""
                                        style="font-weight:bold;">X</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="cart_totals" id="account_info">
                        <h2><i class="fa fa-reorder"></i> Ether 전송하기</h2>
                        <table cellspacing="0" class="shop_table cart">
                            <table cellspacing="0">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th style="width:25%">
                                            <input type="text" class="form-control is-valid" id="send_address"
                                                placeholder="보낼 주소를 입력해주세요" min=0 readonly>
                                        </th>
                                        <th style="width:25%">
                                            <input type="text" class="form-control is-valid" id="recieve_address"
                                                placeholder="받을 주소를 입력해주세요" min=0>
                                        </th>
                                        <th style="width:20%">
                                            <input type="text" class="form-control is-valid" id="send_ether_amount"
                                                placeholder="보낼 이더의 양을 입력해주세요" min=0>
                                        </th>
                                        <th style="width:20%">
                                            <input type="password" class="form-control is-valid" id="sendEther_password"
                                                placeholder="비밀번호를 입력해주세요" min=0>
                                        </th>
            
                                        <input type="hidden" value="" id="hidden_file_path">
                                        
                                        <td> <button class="add_to_button" id="send_transaction" href="#"
                                                rel="nofollow" onclick="Index.sendEther();" >전송하기</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <thead>
                                <tr>

                                    <th class="product-name">Address</th>
                                    <th class="product-balance"></th>
                                </tr>
                            </thead>
                            <tbody id="account_content">
                            </tbody>
                            <tr class="cart_item" style="display: none;" id="account_detail_content">


                                <td class="product-name" style="width: 5%;">
                                </td>
                                <td class="product-price" style="width: 30%;">
                                    <span class="amount"></span>
                                </td>
                                <td class="product-remove" style="width: 5%;">
                                    <a title="Remove this item" class="remove_account" href="javascript:;" data-id=""
                                        style="font-weight:bold;">X</a>
                                </td>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <%- include('./layout/footer') %>

        <script src="./js/index.js"></script>


</body>

</html>